.customer-info {
    background-color: #fff; /* White background */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Black shadow */
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
}

.customer-info h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #000; /* Black text */
}

.customer-info p {
    margin: 10px 0;
    font-size: 18px;
    color: #000; /* Black text */
}

.customer-info p strong {
    color: #000; /* Black text */
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}

.loading-message {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #000; /* Black text */
}

.customer-info .blue-text {
    color: #007BFF; /* Blue text */
}