.introduction-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100vh; /* Full height */
    background-color: black;
    /* background-image: url(../assets/images/fullbike8.PNG); */
}

.introduction-image {
    width: 40%; /* Smaller width for the image container */
    padding: 20px;
}

.introduction-text {
    width: 60%; /* Larger width for the text container */
}

.introduction-image img {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.introduction-text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center text vertically */
}

.introduction-text h1 {
    font-size: 60px; /* Larger font size */
    color: #007BFF;
    margin-bottom: 20px;
    text-align: center; /* Center the title */
    font-family:auto;
}

.introduction-text p {
    font-size: 18px;
    line-height: 1.6;
    color: white;
    margin-bottom: 20px; /* Add space between paragraphs */
}
